{% extends 'news/base.html' %}
{% load static %}

<title>{% block title %}Foydalanuvchi ma'lumotlarini o'zgartirish{% endblock title %}</title>

{% block content %}
<div>
    <h1>Foydalanuvchi ma'lumotlarini o'zgartirish</h1>
    <p>O'z ma'lumotlaringizni quyidagi forma orqali o'zgartirishingiz mumkin:</p>

    <form method='post' enctype='multipart/form-data'> <!-- enctype gives access to send files in POST -->
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <button type='submit'>O'zgarishlarni saqlash</button>
    </form>
</div>
{% endblock content %}