{% extends 'news/base.html' %}
{% load static %}

{% block title %}Login sahifasi{% endblock title %}

{% block content %}
<div class="mb-3">
    <h2>Web saytga kirish - Login</h2>
    <p>Iltimos, saytga kirish uchun quyidagi formani to'ldiring:</p>
    <h5>Agar parolingizni unutgan bo'lsangiz, uni <a href="{% url 'password_reset' %}" style="color: red;">tiklang</a></h5>
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
    <p>Agar saytda ro'yxatdan o'tmagan bo'lsangiz, <a href='{% url 'user_register' %}' style='color: red;'><b>Register</b></a> orqali o'tishingiz mumkin!</p>
</div>
{% endblock content %}


{% comment %} Later we care about layout of the pages. Now the most vital thing is their functionality {% endcomment %}