{% extends 'news/base.html' %}
{% load static %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}
<h1>Parolni tiklash Confirm</h1>
<p>Parolingizni reset qilish uchun quyidagi formani to'ldiring:</p>
{% if validlink %}
    <p>Iltimos yangi parolni 2 marta kiriting: </p>
    <form method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <p><button type="submit">Parolni almashtirish</button></p>
    </form>
{% else %}
    <p> Siz noto'g'ri linkdan foydalandingiz! It may already be expired! </p>
{% endif %}
{% endblock content %}